*{
    box-sizing: border-box;
}

body{
    background-image: url('gambar/bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 50px;
    overflow-x: hidden;
}

.box{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 620px;
    height: 380px;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
    border: 2px solid white;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}

/*style joy*/
#Joy h2{
    position: absolute;
    bottom: 51px;
    left: 85px;
    text-shadow: 2px 3px 5px black;
    font-size: 26px;
}

#Joy h3{
    position: absolute;
    bottom: 27px;
    left: 65px;
    text-shadow: 2px 3px 5px black;
    color: #eee;
}

#bg-joy{
    background-image: url('Joy/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#ass{
    position: absolute;
    right: 482px;
    top: 225px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    background-color: rebeccapurple;
    padding: 4px;
    height: 50px;
}

#deskripsi1 h3{
    position: relative;
    left: 260px;
    top: -2px;
    font-size: 28px;
    background-color: gray;
    width: 66px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

#deskripsi1 p{
    position: relative;
    background-color: black;
    max-width: 390px;
    text-align: justify;
    left: 100px;
    bottom: 22px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px white;
}
/**/

/*style lylia*/
#Lylia h2{
    position: absolute;
    bottom: 51px;
    left: 69px;
    text-shadow: 2px 3px 5px black;
    font-size: 26px;
}

#Lylia h3{
    position: absolute;
    bottom: 27px;
    left: 87px;
    text-shadow: 2px 3px 5px black;
    color: #eee;
}

#bg-lylia{
    background-image: url('Lylia/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#mage{
    position: absolute;
    right: 482px;
    top: 225px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(28, 64, 194);
    padding: 4px;
    height: 50px;
}

#deskripsi2 h3{
    position: relative;
    left: 250px;
    top: -2px;
    font-size: 28px;
    background-color: gray;
    width: 95px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

#deskripsi2 p{
    position: relative;
    background-color: black;
    max-width: 390px;
    text-align: justify;
    left: 100px;
    bottom: 22px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px white;
}
/**/

/*style beatrix*/
#Beatrix h2{
    position: absolute;
    bottom: 51px;
    left: 55px;
    text-shadow: 2px 3px 5px black;
    font-size: 26px;
}

#Beatrix h3{
    position: absolute;
    bottom: 27px;
    left: 66px;
    text-shadow: 2px 3px 5px black;
    color: #eee;
}

#bg-beatrix{
    background-image: url('Beatrix/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#mm{
    position: absolute;
    right: 482px;
    top: 225px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(246, 255, 0);
    padding: 4px;
    height: 50px;
}

#deskripsi3 h3{
    position: relative;
    left: 230px;
    top: -7px;
    font-size: 28px;
    background-color: gray;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

#deskripsi3 p{
    position: relative;
    background-color: black;
    max-width: 390px;
    text-align: justify;
    left: 100px;
    bottom: 27px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px white;
}
/**/

/*style hylos*/
#Hylos h2{
    position: absolute;
    bottom: 51px;
    left: 68px;
    text-shadow: 2px 3px 5px black;
    font-size: 26px;
}

#Hylos h3{
    position: absolute;
    bottom: 27px;
    left: 85px;
    text-shadow: 2px 3px 5px black;
    color: #eee;
}

#bg-hylos{
    background-image: url('Hylos/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#tank{
    position: absolute;
    right: 485px;
    top: 225px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(225, 139, 34);
    padding: 4px;
    height: 50px;
}

#deskripsi4 h3{
    position: relative;
    left: 250px;
    top: -2px;
    font-size: 28px;
    background-color: gray;
    width: 95px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

#deskripsi4 p{
    position: relative;
    background-color: black;
    max-width: 390px;
    text-align: justify;
    left: 100px;
    bottom: 22px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px white;
}
/**/

/*style ruby*/
#Ruby h2{
    position: absolute;
    bottom: 51px;
    left: 78px;
    text-shadow: 2px 3px 5px black;
    font-size: 26px;
}

#Ruby h3{
    position: absolute;
    bottom: 26px;
    left: 70px;
    text-shadow: 2px 3px 5px black;
    color: #eee;
}

#bg-ruby{
    background-image: url('Ruby/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#fighter{
    position: absolute;
    right: 483px;
    top: 225px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(172, 19, 19);
    padding: 4px;
    height: 50px;
}

#deskripsi5 h3{
    position: relative;
    left: 250px;
    top: -2px;
    font-size: 28px;
    background-color: gray;
    width: 85px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

#deskripsi5 p{
    position: relative;
    background-color: black;
    max-width: 390px;
    text-align: justify;
    left: 100px;
    bottom: 22px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px white;
}
/**/

/*gambar*/
#gambar{
    position: absolute;
    height: 300px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px black;
    border: 1.2px solid white;
    left: 22px;
    top: 35px;
    z-index: -1;
}

#gambar-ruby{
    position: absolute;
    height: 303px;
    width: 170px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px black;
    border: 1.2px solid white;
    left: 22px;
    top: 35px;
    z-index: -1;
}

/*icon role*/
#role{
    position: absolute;
    left: 160px;
    top: 38.3px;
    height: 28px;
    background-color: rgb(34, 78, 113);
    border-radius: 4px;
    box-shadow: 0px 1px 4px black;
}

/*tombol sound*/
.sound1{
    position: absolute;
    left: 26px;
    top: 38.8px;
    height: 28px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
}

 